.message-content {
    background-color: #FFFFFF;
    padding: 10px;
    border: solid 2px #FFA894;
    border-radius: 15px;
    font-weight: bolder;
    font-family: "Candara";
    font-size: large;
    color: #A64730;
    resize: none;
    width: 98%;
    text-align: left;
    overflow-y: auto;
}
.message-head {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    justify-content: space-between;
}
.mes-sender, .mes-header, .mes-date-sent {
    margin: 5px 25px;
    border: none;
    background-color: #FFE8AF;
    font-size: x-large;
}
.mes-sender {
    max-width: 15%;
}
.mes-header {
    max-width: 55%;
}
.mes-date-sent {
    text-align: right;
    max-width: 20%;
}
.message {
    background-color: #FFE8AF;
    padding: 10px;
    border: solid 2px #FFA894;
    border-radius: 15px;
    color: #A64730;
    margin-bottom: 10px;
}
.message-body {
    display: flex;
    flex-direction: row;
}
.answerable {
    max-height: 50px;
}

#message-list {
    background-color: #FFE8AF;
    padding: 10px;
    border: solid 2px #FFA894;
    border-radius: 15px;
    font-weight: bolder;
    font-family: "Candara";
    font-size: large;
    color: #A64730;
    text-shadow: 1px 0 1px #FFFFFF,
    0 -1px 1px #FFFFFF;
    height: 100%;
    overflow-y: auto;
}