.editable {
    padding: 10px;
    border: solid 2px #FFA894;
    border-radius: 30px;
}
#student {
    display: flex;
    flex-direction: column;
}
#user-stats {
    display: flex;
    flex-direction: row;
}
#general-stats {
    display: flex;
    flex-direction: column;
}

#calendar-plan, #notifics, #uniqueness {
    background-color: #FFE8AF;
    padding: 10px;
    border: solid 2px #FFA894;
    border-radius: 15px;
    font-weight: bolder;
    font-family: "Candara";
    font-size: medium;
    color: #A64730;
    text-shadow: 1px 0 1px #FFFFFF,
                0 -1px 1px #FFFFFF;
    margin: 10px;
    height: available;
}

#calendar-plan {
    width: 60%;
}
#general-stats {
    width: 40%;
}

.calendar-plan-header, .ready-percent {
    text-align: center;
}

#hello-block {
    font-weight: bolder;
    font-family: "Candara";
    font-size: x-large;
    color: #A64730;
    text-align: right;
    text-shadow: 1px 0 1px #FFFFFF,
                0 -1px 1px #FFFFFF;
}