.editable {
    padding: 10px;
}
#student {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#main-teacher-body {
    display: flex;
    flex-direction: row;
    height: 80%;
}
#hello-block {
    height: 20%;
}
#notifics {
    display: flex;
    flex-direction: column;
}

#project-acceptance, #notifics {
    background-color: #FFE8AF;
    padding: 10px;
    border: solid 2px #FFA894;
    border-radius: 15px;
    font-weight: bolder;
    font-family: "Candara";
    font-size: large;
    color: #A64730;
    text-shadow: 1px 0 1px #FFFFFF,
                0 -1px 1px #FFFFFF;
    margin: 10px;
    height: available;
}

#project-acceptance {
    width: 60%;
    overflow-y: auto;
}
#notifics {
    width: 40%;
}
#notifics {
    height: available;
    overflow-y: auto;
}

.step-of-plan {
    background-color: #B7E2F5;
    padding: 5px;
    margin: 10px;
    border: double 3px #FFA894;
    border-radius: 15px;
    font-weight: bolder;
    font-style: italic;
}

.project-acceptance-header, .notification-header {
    text-align: center;
}

#hello-block {
    margin: 0 5%;
    font-weight: bolder;
    font-family: "Candara";
    font-size: xxx-large;
    color: #A64730;
    text-align: left;
    text-shadow: 1px 0 1px #FFFFFF,
                0 -1px 1px #FFFFFF;
}

.notification {
    background-color: #FFFFFF;
    padding: 10px;
    border: solid 2px #FFA894;
    border-radius: 15px;
    font-weight: bolder;
    font-style: italic;
    font-size: large;
    color: #A64730;
    text-shadow: 1px 0 1px #FFFFFF,
    0 -1px 1px #FFFFFF;
    margin: 10px;
    height: available;
}
.date-in-plan {
    margin: 0;
}


::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #B7E2F5;
    margin: 10px 0;
}
::-webkit-scrollbar-thumb {
    background: #FF9B84;
}
::-webkit-scrollbar-thumb:hover {
    background: #BF877A;
}