<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BelSTU SAD of TCP</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>

  <link rel="stylesheet" type="text/css" th:href="@{/css/settings.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/ask.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/messages.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/myProjects.css}"/>

</head>
<body id="welcome-page"><div id="a-la-body">
  <div id="stud-general" class="general">
    <a href="administrator"><div id="logo">
      <img th:src="@{/img/fit_hack.jpg}" class="logoble" />
    </div></a>
    <div id="course-work">
      <button class="guiable" value="Course projects" onclick="location.href='adminChangeUsers'">Change users</button>
      <button class="guiable" value="Create course project task" onclick="location.href='addUsers'">Add users</button>
    </div>
    <div id="question">

    </div>
  </div>
  <div class="editable">
    [(${editable_content})]
    <div id="admin">
      <div id="hello-block">
        <p></p>
      </div>
      <div id="registration-body">

      </div>
    </div>
  </div>
  <div id="stud-private" class="private">
    <div id="priv-info">
      <div id="FFF">
        <p class="family">[(${user_family})]</p>
        <p class="family">[(${user_name})]</p>
      </div>
      <button class="guiable" value="Change" onclick="location.href='achange'">Change</button>
    </div>
    <div id="messages">
      <button class="guiable" value="Messages" onclick="location.href='amessages'">Messages</button>
      <button class="guiable" value="Send message" onclick="location.href='aSendMessage'">Send message</button>
    </div>
    <div id="settings">
      <button class="guiable" value="Settings" onclick="location.href='asettings'">Settings</button>
    </div>
  </div>
</div>
</body>
</html>