<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/student.css}"/>
</head>
<body id="welcome-page"><div id="a-la-body">
    <div id="stud-general" class="general">
        <div id="logo">
            <img th:src="@{/img/fit_hack.jpg}" class="logoble"/>
        </div>
        <div id="course-work">
            <button class="guiable" value="Course plan">Course plan</button>
            <button class="guiable" value="My projects">My projects</button>
        </div>
        <div id="question">
            <button class="guiable" value="Ask question">Ask question</button>
        </div>
    </div>
    <div class="editable">
        <div id="student">
            <div id="hello-block">
                <p>Welcome, </p>
            </div>
            <div id="user-stats">
                <div id="calendar-plan">
                    <p class="calendar-plan-header">Calendar plan of current project</p>
                    <!-- TODO foreach of these plan -->
                    <input type="checkbox" class="step-of-project" value="Step from user list #1">
                    <input type="checkbox" class="step-of-project" value="Step from user list #3">
                    <input type="checkbox" class="step-of-project" value="Step from user list #2">
                </div>
                <div id="general-stats">
                    <div id="uniqueness">
                        <!-- TODO auto calculating of % of uniqueness-->
                        <p class="ready-percent">You did not send explanatory note!</p>
                    </div>
                    <div id="notifics">
                        <!-- TODO notifications -->
                        <p class="notification"> * No new notifications ♡( ◡‿◡ )</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="stud-private" class="private">
        <div id="priv-info">
            <div id="FFF">
                <p class="family">Drevoten</p>
                <p class="family">Eugene</p>
            </div>
            <button class="guiable" value="Change">Change</button>
        </div>
        <div id="messages">
            <button class="guiable" value="Messages">Messages</button>
        </div>
        <div id="settings">
            <button class="guiable" value="Settings">Settings</button>
        </div>
    </div>
</div></body>
</html>