<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/student.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/settings.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ask.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/coursePlan.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myProjects.css}"/>
</head>
<body id="welcome-page"><div id="a-la-body">
    <div id="stud-general" class="general">
        <a href="student"><div id="logo">
            <img th:src="@{/img/fit_hack.jpg}" class="logoble" />
        </div></a>
        <div id="course-work">
            <button class="guiable" value="Course plan" onclick="location.href='coursePlan'">Course plan</button>
            <button class="guiable" value="My projects" onclick="location.href='myProjects'">My projects</button>
        </div>
        <div id="question">
            <button class="guiable" value="Ask question" onclick="location.href='askquestion'">Ask question</button>
        </div>
    </div>
    <div class="editable">
        [(${editable_content})]

    </div>
    <div id="stud-private" class="private">
        <div id="priv-info">
            <div id="FFF">
                <p class="family">[(${user_family})]</p>
                <p class="family">[(${user_name})]</p>
            </div>
            <button class="guiable" value="Change" onclick="location.href='schange'">Change</button>
        </div>
        <div id="messages">
            <button class="guiable" value="Messages" onclick="location.href='smessages'">Messages</button>
        </div>
        <div id="settings">
            <button class="guiable" value="Settings" onclick="location.href='ssettings'">Settings</button>
        </div>
    </div>
</div></body>
</html>